<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WFHelper</title>
    <style>
      body {
        margin: 0;
        padding: 12px;
      }

      button {
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        padding: 12px 24px;
        font-size: 16px;
      }

      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      .tab button {
        background-color: inherit;
        float: left;
      }

      .tab button:hover {
        background-color: #ddd;
      }

      .tab button.active {
        background-color: #ccc;
      }

      .tabcontent {
        display: none;
        border: 1px solid #ccc;
        border-top: none;
      }

      .list {
        margin: 0;
        padding: 0;
      }

      .list li {
        padding: 12px;
        list-style: none;
      }

      .list li:nth-of-type(odd) {
        background: #ddd;
      }

      .button {
        margin: 12px;
        color: #fff;
        background-color: #1976d2;
      }

      .button:hover {
        background-color: #42a5f5;
      }
    </style>
  </head>

  <body>
    <div class="tab">
      <button class="tablinks" onclick="switchTab(event, 'Summary')">
        统计
      </button>
      <button class="tablinks" onclick="switchTab(event, 'Log')">日志</button>
      <button class="tablinks" onclick="switchTab(event, 'ScreenCap')">
        截图
      </button>
      <button class="tablinks" onclick="switchTab(event, 'Actions')">
        操作
      </button>
    </div>

    <div name="Summary" class="tabcontent"></div>

    <div name="Log" class="tabcontent"></div>

    <div name="ScreenCap" class="tabcontent">
      <canvas />
    </div>

    <div name="Actions" class="tabcontent">
      <button class="button" onclick="start()">开始</button>
      <button class="button" onclick="stop()">停止</button>
      <button class="button" onclick="autoFetchSummary(event)">
        启用统计自动刷新
      </button>
      <button class="button" onclick="autoFetchLog(event)">
        启用日志自动刷新
      </button>
      <button class="button" onclick="setLogLimit()">设置日志长度</button>
    </div>

    <script>
      const canvas = document.querySelector("canvas");
      const ctx = canvas.getContext("2d");

      const switchTab = (event, name) => {
        [...document.querySelectorAll(".tablinks")].forEach((item) => {
          if (item === event.currentTarget) {
            item.className = "tablinks active";
          } else {
            item.className = "tablinks";
          }
        });

        [...document.querySelectorAll(".tabcontent")].forEach((item) => {
          if (item.getAttribute("name") === name) {
            item.style.display = "block";
          } else {
            item.style.display = "none";
          }
        });

        if (name === "Summary") {
          loadSummary();
        }

        if (name === "Log") {
          loadLogArray();
        }

        if (name === "ScreenCap") {
          loadScreenCap();
        }
      };

      const loadSummary = () => {
        const format = (key, value) => {
          if (key === "startTime") {
            return `开始时间：${value ? new Date(value * 1000).toLocaleString() : ""}`;
          }

          if (key === "lastActionTime") {
            return `活跃时间：${value ? new Date(value * 1000).toLocaleString() : ""}`;
          }

          if (key === "completeCount") {
            return `完成次数：${value}`;
          }

          if (key === "levelupCount") {
            return `升级次数：${value}`;
          }

          return `${key}:${value}`;
        };

        fetch(`/getSummary`)
          .then((res) => res.json())
          .then((res) => {
            document.querySelector('[name="Summary"]').innerHTML = `
              <ul class="list">${Object.entries(res)
                .map(([key, value]) => `<li>${format(key, value)}</li>`)
                .join("")}
              </ul>
            `;
          });
      };

      const loadLogArray = () => {
        fetch(`/getLogArray`)
          .then((res) => res.json())
          .then((res) => {
            document.querySelector('[name="Log"]').innerHTML = `
              <ul class="list">${res
                .map((item) => `<li>${item}</li>`)
                .reverse()
                .join("")}
              </ul>
            `;
          });
      };

      const loadScreenCap = () => {
        fetch(`/getScreenShot`)
          .then((res) => res.blob())
          .then((blob) => {
            const img = new Image();

            img.src = URL.createObjectURL(blob);
            img.onload = () => {
              canvas.width = img.width;
              canvas.height = img.height;

              ctx.drawImage(img, 0, 0);

              img.remove();
            };
          });
      };

      const start = () => {
        fetch(`/start`);
      };

      const stop = () => {
        fetch(`/stop`);
      };

      const autoFetchSummary = (() => {
        let interval;

        return (event) => {
          if (interval) {
            clearInterval(interval);

            interval = 0;

            event.currentTarget.innerHTML = "启用统计自动刷新";
          } else {
            const delay = Number(prompt("自动刷新间隔（秒）：", 60));

            if (delay > 0) {
              interval = setInterval(loadSummary, delay * 1000);

              event.currentTarget.innerHTML = "停止统计自动刷新";
            }
          }
        };
      })();

      const autoFetchLog = (() => {
        let interval;

        return (event) => {
          if (interval) {
            clearInterval(interval);

            interval = 0;

            event.currentTarget.innerHTML = "启用日志自动刷新";
          } else {
            const delay = Number(prompt("自动刷新间隔（秒）：", 60));

            if (delay > 0) {
              interval = setInterval(loadLogArray, delay * 1000);

              event.currentTarget.innerHTML = "停止日志自动刷新";
            }
          }
        };
      })();

      const setLogLimit = () => {
        const value = Number(prompt("日志长度", 20));

        if (value > 0) {
          fetch(`/setLogLimit?value=${value}`);
        }
      };

      const touchScreen = (() => {
        const delay = 5000;

        return (e) => {
          if (canvas.style.cursor !== "not-allowed") {
            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            fetch(`/touchScreen?x=${x}&y=${y}`)
              .then(() => {
                canvas.style.cursor = "not-allowed";

                ctx.globalCompositeOperation = "destination-out";
                ctx.fillStyle = "rgba(255, 255, 255, 0.5)";
                ctx.beginPath();
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                ctx.fill();
                ctx.globalCompositeOperation = "source-over";
              })
              .then(() => new Promise((resolve) => setTimeout(resolve, delay)))
              .then(() => {
                canvas.style.cursor = "auto";
              })
              .then(loadScreenCap);
          }
        };
      })();

      canvas.addEventListener("mousedown", touchScreen);

      document.querySelector(".tablinks").click();
    </script>
  </body>
</html>
