<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WFHelper</title>
    <link rel="stylesheet" href="static/css/index.css" />
  </head>

  <body>
    <div class="tab">
      <button class="tablinks" onclick="switchTab(event, 'State')">
        状态
      </button>
      <button class="tablinks" onclick="switchTab(event, 'Log')">日志</button>
      <button class="tablinks" onclick="switchTab(event, 'ScreenCap')">
        截图
      </button>
      <button class="tablinks" onclick="switchTab(event, 'Actions')">
        操作
      </button>
    </div>

    <div name="State" class="tabcontent"></div>

    <div name="Log" class="tabcontent"></div>

    <div name="ScreenCap" class="tabcontent">
      <canvas />
    </div>

    <div name="Actions" class="tabcontent">
      <div>
        <button class="button" onclick="start()">开始</button>
        <button class="button" onclick="stop()">停止</button>
        <button class="button" onclick="autoFetchState(event)">
          启用状态自动刷新
        </button>
        <button class="button" onclick="autoFetchLog(event)">
          启用日志自动刷新
        </button>
        <button class="button" onclick="setLogLimit()">设置日志长度</button>
      </div>
      <div>
        <button class="button" onclick="setTaskCycle(event)">
          设置任务周期
        </button>
      </div>
      <div>
        <button class="button" onclick="toggleState(event, '伊尔考普斯')">
          伊尔考普斯：启用
        </button>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="static/js/index.js"></script>
</html>
